body {
  margin: 0;
  font-family: arial,sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #1a0dab;
  text-decoration: none;
}

a:visited {
  color: #609;
}
